* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:auto;
    max-height:100%;
    overflow:auto; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* height: 100vh; */
}
  
.grid-container{
    /* grid-template-rows: 6fr 49.5fr 1fr;
    grid-template-rows: 0.60fr 5fr 0.10fr; */
    /* padding: 40px 40px 20px 40px; */

    /* grid-template-rows: 0.60fr 5fr 0.10fr;
    grid-template-columns: 3.10060976fr 1fr;
    grid-template-areas: 
     "header   header"
     "video-container   slider"
     "thumbnail   slider"
    ; */

    display: grid;
    /* grid-template-rows: 1fr 8.625fr; */
    grid-template-rows: 98px auto;
    grid-template-columns: 3.10060976fr 1fr;
    grid-template-areas: 
     "header   header"
     "video-container   slider-container"
    ;
    gap: 20px 15px;
    /* padding: 40px; */
    padding: 40px 40px 20px 40px;
    box-sizing: border-box; 
    height: 100vh;
}  
  
/* .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
} */
  
/* .header {
    grid-area: header;
    background-color: #FC0404;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
} */
  

.grid-container .header {

    grid-area: header;
    background-color: rgb(26, 13, 39);

}

.grid-container .header h4{
    color: white;
    font-weight: 100;
    font-size: 0.9rem;
    line-height: 1.5rem;   
}

.grid-container .header .layout1 {
    display: flex;
}


/* .grid-container .header .layout1 .he-heading {
    max-width: 300px;
} */

.grid-container .header h4 button{ 
    display: inline-flex;
    max-width: 100px;
    padding: 5px 20px;
    border-radius: 8px; 
    background-color: #FC048C; 
    color: white; 
    font-size: 10px; 
    border: none; 
    cursor: pointer; 
    overflow: hidden; 
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    white-space: nowrap; 
}





/* .video-container {
    grid-area: video-container;
    background-color: #FC04E3;
}

.video-container video{
    padding: 0px;
    margin: 0px;
    object-fit: fill;
} 

.thumbnail {
    grid-area: thumbnail;
    background-color: #FCF404;
    border-radius: 10px;
} */



.grid-container .video-container {
    grid-area: video-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4.9fr 0.2fr;
    grid-template-areas: 
     "short-video"
     "thumbnail"
    ;
    row-gap: 20px;
    /* padding: 40px; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    /* height: 100vh; */
}

.grid-container .video-container .video-item {
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    display: flex;
}

.grid-container .video-container .short-video {
    grid-area: short-video;
    background-color: #FC04E3;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.grid-container .video-container .short-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-left {
    position: absolute;
    top: 35px;
    left: 43px;
    font-size: 32px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-family: Arial, sans-serif;
  }

.grid-container .video-container .thumbnail {
    grid-area: thumbnail;
    /* background-color: #FCF404; */
    border-radius: 10px;
    padding: 0px;
    margin: 0px;

    display: flex;
    align-items: center;
}



.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    padding: 0px;

    text-align: center;
    justify-content: center;
    align-items: center;
    /* transform: translate(0%, 25%); */
}
  
.dot:hover {
    background-color: #FC048C;
}
  

/* .grid-container .slider-container {
    grid-area: slider-container;
    align-items: center;
    border-radius: 32px;
    background: #151A22;

} */








.grid-container .slider-container {
    grid-area: slider-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.468277946fr 4.9fr 0.3fr;
    /* grid-template-rows: 0.468277946fr 5fr 0.181268882fr; */
    grid-template-areas: 
     "slider-header"
     "slider-card"
     "slider-btn"
    ;
    row-gap: 0px;
    /* padding: 40px; */
    /* padding: 0px; */
    /* padding: 31px 30px 18px 30px; */
    padding: 20px;
    margin: 0px;
    box-sizing: border-box; 

    border-radius: 20px;
    background: #151A22;
    /* height: 100vh; */
}

.grid-container .slider-container .slider-item {
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
}

.grid-container .slider-container .slider-header {
    grid-area: slider-header;
    background-color: none;
    justify-content: left;
    margin: 0px 0px 20px 0px;
    /* margin: 0px; */
    padding: 0px;
    /* width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; */
    /* border-radius: 20px; */

    display: flex;
    align-items: center;
}

.top-left-2 {
    position: absolute;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-family: Arial, sans-serif;

    display: flex;
    align-items: center;
  }



/* .grid-layout {
    display: grid;
    gap: 20px;
    padding: 2rem 4%;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
} */






.grid-container .slider-container .slider-card {
    grid-area: slider-card;
    /* background-color: #FCF404; */
    background-color: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    gap: 20px;
    /* padding: 2rem 4%; */
    /* margin-top: 100px; */
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */

    /* display: grid;
    align-items: center;
    grid-auto-flow: row; */
    grid-auto-rows: 40%; 
    grid-template-columns: unset; 
    grid-template-rows: unset;
    overflow-y: scroll;
    /* overflow: scroll; */
}


.grid-container .slider-container .slider-card .card-layout {
    /* max-width: 436px; */
    /* max-height: 294px; */
    justify-content: center;
    align-items: flex-start;
    /* gap: 12px; */
    display: flex;
    /* padding: 15px; */
    position: relative;
    border-radius: 10px;
    background: rgba(33, 39, 46, 0.40);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
}

.image-container{
    /* width: 172px;
    height: 200px; */
    justify-content: center;
    align-items: center; 

    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}















.grid-container .slider-container .slider-btn {
    grid-area: slider-btn;
    /* background-color: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    background-color: none;
    padding: 0px; */


    justify-content: center;
    background-color: #FC04E3;
    /* border-radius: 10px; */
    border-radius: 0px 0px 10px 10px;
    border-color: none;

    /* position: relative; */
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-family: Arial, sans-serif;

    cursor: pointer;
    display: flex;
    align-items: center;

}

.grid-container .slider-container .slider-btn:hover {
    background-color: #750040;
}

/* .grid-container .slider-container .slider-btn .button{
    justify-content: center;
    background-color: #FC04E3;
    border-radius: 10px;
    border-color: none;

    position: absolute;
    margin: 0px;
    padding: 5px 30px;
    font-size: 20px;
    color: white;
    font-style: normal;
    font-weight: 200;
    font-family: Arial, sans-serif;
} */







  

  /* @media (max-width: 768px) {
    .grid-container{
      gap: 20px;
      grid-template-rows: auto;
      grid-template-areas: 
    
        "header" 
        "sidebar"
        "main"
        "treatment"
        "content"
        ;
      
      grid-template-columns: 1fr ;
      border-radius: 4px;  
      }
  
      .grid-container.hide-treatment {
        grid-template-areas: 
          "header" 
          "sidebar"
          "main"
          "content";
      }
  }
   */
  
  
  
  